{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <p>The government is providing £150 million over 4 years to support community groups in the UK to take ownership of assets and amenities at risk of being lost.

        Voluntary and community groups can bid for match funding to acquire important assets and run them for the benefit of the local community. 
        
        Before you start your application you should read the following:
        
        Community Ownership Fund prospectus
        Guidance on the assessment criteria 
        
        The fund will run until 2024/25 and there will be at least 8 bidding rounds in total.
        
        The first round for applications:
        
        opened on 15 July 2021
        closes on 13 August 2021 at 5pm
        
        
        If you do not think you will be ready for the first round, there will be future opportunities to apply. You can find the key dates on the Community Ownership Fund prospectus.
        
        When you start the application you will have the ability to:
        
        save and return to your application
        make changes and review your answers
        
        
        Data protection
        
        Please read our full data privacy statement</p>



      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

      <p>Rules for applying 

        Please read the following rules:
        
        all applications must be received by the deadline of 5pm on 13 August 2021
        
        you will be asked to email supplementary attachments as part of your online application. These must be emailed within the stated deadline
        
        we will accept joint-applications. However, we require one lead organisation to submit the proposal and enter into a grant agreement with the Ministry of Housing, Communities and Local Government (MHCLG), if your grant application is successful
        
        applicants can only submit one application per community asset or amenity
        
        applicants are not restricted from submitting multiple applications for more than one community asset or amenity. However, please be aware that applications will be assessed separately
        
        
        Application form contents
        
        The following list shows you the layout of the application form.  You will need to be able to answer the questions within each section and provide any additional information:
        
        additional documents required
        check your project is eligible
        tell us about your asset 
        value of funding required
        match funding
        check your organisation is eligible
        organisation status
        asset-locked organisation
        joint applications
        payments
        section 1: about your organisation
        section 2: Overview of your project
        section 3: Strategic case
        section 4: Management case
        section 5: Potential to deliver community benefits
        section 6: Added value to the community 
        section 7: Publicly owned assets
        section 8: State aid declaration
        
        
        You can send any additional documents at the end of the application form. 
        
        If you need to edit or revisit any sections of the application form whilst you are filling it in you will need to use the browser back button.  Be aware that if you use the browser back button, the screen that you are currently viewing will not be saved.
        
        You must be aware that once you have submitted your application form you will not be able to go back and edit, add or change any of the sections.
        
        
        
        </p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <p>If you’re having problems accessing the form or need help digitally then please ring our service desk using the following number 0203 829 0743.

        The service desk is open from 9am to 5pm Monday to Friday (excluding Bank Holidays).
        
        If you have any questions with regards to the application form or need any help understanding the policy please email us at COF@communities.gov.uk</p>

    </div>
  </div>
{% endblock %}
